* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  user-select: none;
  background-color: rgb(45, 45, 45);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.header {
  height: 10%;
  width: 100%;
  padding: 10px;
  background-color: rgb(132, 132, 132);
  box-shadow: inset 0px 0px 10px 1px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-item{
  flex: 0 1 100px;
  height: 50%;
  border: 2px solid black;
  box-shadow: inset 0px 0px 10px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}

.number-bombs{

  background-color: rgb(255, 0, 0);

}

.reset-game{

  background-color: rgb(168, 161, 32);
}

.time{
  
  background-color: rgb(0, 34, 255);
}

.field {
  padding: 0.5vh;
  background-color: rgb(120, 120, 120);
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 0.4vh;
  column-gap: 0.4vh;
}

.block {
  width: min(3.8vh, 3.8vw);
  height: min(3.8vh, 3.8vw);
  background-color: white;
  box-shadow: inset 0px 0px 10px 1px black;
}

p {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  line-height: 1;
  font-size: 95%;
  color: black;
  text-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.bomb {
  background-color: red;
}

.block-cover {
  background-color: rgb(125, 125, 125);
  cursor: pointer;
}

.block-cover p {
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
}

.block-open {
  background-color: rgb(255, 255, 255);
}

.flag {
  background-color: greenyellow;
  cursor: pointer;
}

.flag p{
  color: greenyellow;
  text-shadow: none;
}